.area{
    border: 3px solid rgb(0, 0, 0);
    background-color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 100px 0;
}
.area div{
background: red;
border: 1.5px solid rgb(0, 0, 0);
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
transition: 0.2s;
}
.area div:hover{
    border-bottom: 2px;
    scale: 1.1;
    cursor: help;
    border-radius: 7px;
}