div{
background-color: lightgoldenrodyellow;
border: 3px outset lime; 
margin: 
20px;text-align:center; 
background: #33ff00;
background: linear-gradient(45deg, rgba(51, 255, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
margin: 20px;
padding: 0px ;
width: 925px;
transition: 0.5s;
}
body{
    margin: 0.1%;
}
div:hover{
background: #3cff00;
background: linear-gradient(45deg, rgba(60, 255, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
width: 900px;
}
/*padding e a distancia entre o texto da div e a borda da div
marging e a distancia entre a borda da div e os outros objetos*/ 