.area{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
    padding: 100px;
    flex-wrap: wrap;
}
.area div{
    background-color: limegreen;
    border: 1px solid black;
    display: flex;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.area div:hover{
    border-radius: 12px;
    background-color: lime;
    padding: 12px;
}