body{
    text-align: center;
    background-color: rgba(255, 247, 220, 0.493);
}
hr{
    border-style:dashed  ;
    color: rgb(87, 94, 0);
}
.cuphead{
    width: 30%
}
.dlc{
    border-style:double;
    color: rgb(94, 72, 0);
}
.DlcImg{
    width: 30%;
}
.iframedlc{
    padding-bottom: 0%;
}

.playwrite-de-sas-uniquifier{
font-family: Georgia, 'Times New Roman', Times, serif;
}
.OuSi{
    background-color: rgba(255, 232, 157, 0.493);
    padding-bottom: 15px;
}
body{
    margin: 0;
}
/* padding: 15px; + body{margin: 0;} = tirar bordas */
h1{
    color: rgb(80, 73, 0);
}
h3{
    color: rgb(63, 56, 0);
}
p{
    color: rgb(49, 45, 0);
}